.cardPelicula{
    width: 30%;
    margin:1%;
}
.peliculas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.imgPelicula{
    width: 100%;
    height: 130%;
}